# Project Configuration
OPENAI_API_KEY=your_openai_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# App Configurations
# Example Product IDs:
# Groww (Play Store): com.nextbillion.groww
# Groww (App Store): 1404871703
